@import '../stylesheets/_main.scss';

.App {

	&__Wrapper {
		display: flex;

		&.HomeView {
			flex-direction: column;
		}

		&.ActiveView {
			flex-direction: row;
			flex: 1;
			height: 100%;
		}
	}
}
